registry=https://pkgs.dev.azure.com/grupomaristapr/PUCPR-Tecnologias_Educacionais/_packaging/PUCPR-Tecnologias_Educacionais/npm/registry/

; begin auth token
//pkgs.dev.azure.com/grupomaristapr/PUCPR-Tecnologias_Educacionais/_packaging/PUCPR-Tecnologias_Educacionais/npm/registry/:username=grupomaristapr
//pkgs.dev.azure.com/grupomaristapr/PUCPR-Tecnologias_Educacionais/_packaging/PUCPR-Tecnologias_Educacionais/npm/registry/:_password=MkFNTFlRZHdNU0ttdnpwVmlTaTdhVEU0bU9xMjM1eFNlT2tubDR0NkFudWVMUXVHWGYzMUpRUUo5OUJHQUNBQUFBQWs0WFk1QUFBU0FaRE8zUHhi
//pkgs.dev.azure.com/grupomaristapr/PUCPR-Tecnologias_Educacionais/_packaging/PUCPR-Tecnologias_Educacionais/npm/registry/:email=helena.caferreira@pucpr.br
//pkgs.dev.azure.com/grupomaristapr/PUCPR-Tecnologias_Educacionais/_packaging/PUCPR-Tecnologias_Educacionais/npm/:username=grupomaristapr
//pkgs.dev.azure.com/grupomaristapr/PUCPR-Tecnologias_Educacionais/_packaging/PUCPR-Tecnologias_Educacionais/npm/:_password=MkFNTFlRZHdNU0ttdnpwVmlTaTdhVEU0bU9xMjM1eFNlT2tubDR0NkFudWVMUXVHWGYzMUpRUUo5OUJHQUNBQUFBQWs0WFk1QUFBU0FaRE8zUHhi
//pkgs.dev.azure.com/grupomaristapr/PUCPR-Tecnologias_Educacionais/_packaging/PUCPR-Tecnologias_Educacionais/npm/:email=helena.caferreira@pucpr.br
; end auth token

always-auth=true
